<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Add you message</a>
    <ul>
      <% docs.forEach(doc => { %>
      <li>
        <%= `${doc.name}: ${doc.message} (${doc.added.toLocaleString()})`%>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
